<th:block th:insert="~{/fragments/index :: parteArriba}"></th:block>


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Gestión de Facturas</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active">Formulario crear Factura</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Crear Factura</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- Formulario para crear una factura -->
                        <form class="form-horizontal" th:action="@{/crearFactura}" method="POST">
                            <div class="card-body">
                                <div class="form-group row">
                                    <label for="clienteId" class="col-sm-3 col-form-label">Cliente/Empresa</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" id="clienteId" name="clienteId" required>
                                            <option value="">Seleccionar Cliente</option>
                                            <!-- Iterar sobre la lista de clientes disponibles -->
                                            <th:block th:each="cliente : ${clientes}">
                                                <option th:value="${cliente.id}" th:text="${cliente.nombre}"></option>
                                            </th:block>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="fechaEmision" class="col-sm-3 col-form-label">Fecha de
                                        Emisión</label>
                                    <div class="col-sm-9">
                                        <input type="date" class="form-control" id="fechaEmision" name="fechaEmision"
                                            placeholder="Fecha de Emisión" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="fechaVencimiento" class="col-sm-3 col-form-label">Fecha de
                                        Vencimiento</label>
                                    <div class="col-sm-9">
                                        <input type="date" class="form-control" id="fechaVencimiento"
                                            name="fechaVencimiento" placeholder="Fecha de Vencimiento" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="estado" class="col-sm-3 col-form-label">Forma de Pago</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" id="formaDePago" name="formaDePago" required>
                                            <option value="">Seleccionar Forma de Pago</option>
                                            <option value="Transferencia bancaria">Transferencia bancaria</option>
                                            <option value="Pago en efectivo">Pago en efectivo</option>
                                            <option value="Tarjeta de crédito/débito">Tarjeta de crédito/débito</option>
                                            <option value="Pago electrónico">Pago electrónico</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="importeTotal" class="col-sm-3 col-form-label">Importe Total</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="importeTotal" name="importeTotal"
                                            placeholder="Importe Total" pattern="[0-9]+([\.,][0-9]+)?"
                                            title="Debe ser un número decimal válido" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="productos" class="col-sm-3 col-form-label">Productos:</label>
                                    <div class="col-sm-9">
                                        <select multiple class="form-control" id="productos" name="productos" required>
                                            <!-- Itera sobre la lista de productos disponibles -->
                                            <th:block th:each="producto : ${productos}">
                                                <option th:value="${producto.codigo}" th:text="${producto.nombre}">
                                                </option>
                                            </th:block>
                                        </select>
                                    </div>
                                </div>

                                <!-- Contenedor para las cantidades de cada producto -->
                                <div id="cantidadesContainer" class="form-group row"></div>

                                <script>
                                    document.getElementById("productos").addEventListener("change", function () {
                                        var cantidadesContainer = document.getElementById("cantidadesContainer");
                                        cantidadesContainer.innerHTML = "";

                                        // para verificar si hay elementos seleccionados
                                        if (this.selectedOptions) {
                                            // para iterar sobre ellos
                                            Array.from(this.selectedOptions).forEach(function (option) {
                                                var codigoProducto = option.value;
                                                var nombreProducto = option.text;

                                                var divProducto = document.createElement("div");
                                                divProducto.classList.add("form-group", "row", "mb-3");

                                                var label = document.createElement("label");
                                                label.classList.add("col-sm-3", "col-form-label");
                                                label.textContent = nombreProducto;
                                                divProducto.appendChild(label);

                                                var divInput = document.createElement("div");
                                                divInput.classList.add("col-sm-9");
                                                var inputCantidad = document.createElement("input");
                                                inputCantidad.classList.add("form-control");
                                                inputCantidad.setAttribute("type", "number");
                                                inputCantidad.setAttribute("name", "cantidades[]");
                                                inputCantidad.setAttribute("placeholder", "Cantidad");
                                                inputCantidad.setAttribute("required", "required");
                                                divInput.appendChild(inputCantidad);

                                                divProducto.appendChild(divInput);

                                                cantidadesContainer.appendChild(divProducto);
                                            });
                                        }
                                    });

                                </script>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <button type="submit" class="btn btn-success">Crear Factura</button>
                                <a href="/listarFacturas" class="btn btn-secondary">Volver</a>
                            </div>
                            <!-- /.card-footer -->
                        </form>

                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
</div>

<th:block th:insert="~{/fragments/index :: parteAbajo}"></th:block>