<th:block th:insert="~{/fragments/index :: parteArriba}"></th:block>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Gestión de Productos</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active">Lista de productos</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content-header -->

    <!-- Mostrar mensaje de error si existe -->
    <div th:if="${mensajeError != null}" class="alert alert-danger" role="alert">
        <span th:text="${mensajeError}"></span>
    </div>

    <!-- Tabla de productos -->
    <section class="content">
        <!-- Botón para crear producto -->
        <div class="row mb-3">
            <div class="col-sm-12 pl-3">
                <a href="/crearProducto" class="btn btn-primary">Crear Producto</a>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Detalles de los productos</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body p-0">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Precio Unitario</th>
                                        <th>IVA</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Iterar sobre la lista de productos y mostrar los detalles -->
                                    <tr th:each="producto : ${productos}">
                                        <td th:text="${producto.nombre}"></td>
                                        <td th:text="${producto.precioUnitario}"></td>
                                        <td th:text="${producto.iva}"></td>
                                        <td>
                                            <a th:href="@{'/editar/producto/' + ${producto.codigo}}"
                                                class="btn btn-primary">Editar Producto</a>
                                            <!-- Botón Editar -->
                                            <a th:href="@{'/eliminar/producto/' + ${producto.codigo}}"
                                                class="btn btn-danger">Eliminar</a>
                                            <!-- Botón Eliminar -->
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

<th:block th:insert="~{/fragments/index :: parteAbajo}"></th:block>