<th:block th:insert="~{/fragments/index :: parteArriba}"></th:block>


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Gestión de Facturas</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active">Lista de facturas</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Mostrar mensaje de error si existe -->
    <div th:if="${mensajeError != null}" class="alert alert-danger" role="alert">
        <span th:text="${mensajeError}"></span>
    </div>


    <!-- Tabla de clientes -->
    <section class="content">
        <!-- Botón para crear factura -->
        <div class="row mb-3">
            <div class="col-sm-12 pl-3">
                <a href="/crearFactura" class="btn btn-primary">Crear Factura</a>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Detalles de las facturas</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body p-0">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Número de Factura</th>
                                        <th>Estado</th>
                                        <th>Fecha de Emisión</th>
                                        <th>Fecha de Vencimiento</th>
                                        <!-- Agrega más encabezados según sea necesario -->
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Iterar sobre la lista de facturas y mostrar los detalles -->
                                    <tr th:each="factura : ${facturas}">
                                        <td th:text="${factura.numeroFactura}"></td>
                                        <td th:text="${factura.estado}"></td>
                                        <td th:text="${factura.fechaEmision}"></td>
                                        <td th:text="${factura.fechaVencimiento}"></td>
                                        <td>
                                            <a th:href="@{'/eliminar/factura/' + ${factura.numeroFactura}}"
                                                class="btn btn-danger">Eliminar</a>
                                            <!-- Botón Eliminar -->
                                            <a th:href="@{'/visualizar/factura/' + ${factura.numeroFactura}}"
                                                class="btn btn-primary">Visualizar</a>
                                            <!-- Botón Visualizar -->
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->



</div>

<th:block th:insert="~{/fragments/index :: parteAbajo}"></th:block>
